@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

body{
    font-family:'Alata', sans-serif;
    font-size: 15px;
}

#container{
    width:100%;
    height:100vh;
    display:grid;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 15px;
    grid-template-areas:
    "header"
    "content"
    "footer";
}


.my_header{
    grid-area:header;
    height:150%;
    width:100%;
    background: black url("../images/desktop/image-hero.jpg");
    object-fit: cover;
}
.menu_navigation{
    margin-top:50px;
    margin-left: 550px;
    padding-top:15px;
    text-align:right;
    color:white;
    background:black;
    width: 50%;
}

ul{

    list-style-type: none;
    margin: 10px 10px 10px 10px;
    padding:0;

}
ul a{
    text-decoration:none;
    color: white;
}
li{
    display:inline;
    padding:10px 10px 10px 10px;
    font-family: 'Alata', sans-serif;


}

.logo_text{
    position:absolute;
    margin-left:70px;
    margin-top: 50px;
    width: 200px;
    height:50px;
    background: black;
}
.logo_text a{
    text-decoration: none;
    color: white;
}
.logo{
    font-family: 'Alata', sans-serif;
    font-size: 35px;
    color:white;
}

.banner_text{
    width: 500px;
    height:220px;
    background:black;
    margin-left: 70px;
    margin-top:100px;
    border: 1px solid white;
}
.inner_banner_text{
    font-family: 'Josefin Sans', sans-serif;
    margin-top:0;
    padding: 5px 5px 5px 5px;
    font-size: 55px;
    color: white;
    text-align:justify;
}

.content{
    grid-area: content;
    margin-top: 150px;
    background: blue;
    height:180%;

}
.content_item1{
    background: green;
}

.img-container{
    height: 550px;
    width:500px;

}
.content_item1_information{
    position: absolute;
    top:652px;
    left:560px;
    background: yellow;
    height:150px;
    width:450px;
    padding: 80px 80px 100px 80px;

}
.content_item1_information h2{
    font-family: "Josefin Sans",sans-serif;
    padding:0;
    font-size: 35px;
}

.content_item2{
    margin-top: 40px;
    background: pink;
    width:100%;
    height:100%;
}

.content_item2_information{
    width:100%;
    background: aqua;


}
.content_item2_information h2{
    font-family: "Josefin Sans",sans-serif;
    font-size: 38px;
    font-weight: 100;
    padding:5px 10px 5px 10px;

}
.content_item2_information a{
    position: absolute;
    top:1075px;
    left:1000px;
    text-decoration: none;
    border:2px solid black;
    color: black;
    padding:5px 20px 5px 20px;
    border-radius: 3px;
}
.images_panel{

    background: chartreuse;
    height:160%;
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 30vh);
    grid-template-rows: repeat(4, 30vw);
    grid-row-gap: 50px;

}
figure {
    margin-top: 50px;
    width: 80%;
    height: 100%;

}

.img_gallery{
    width: 100%;
    height: 100%;
    object-fit:cover;

}

.footer{
    grid-area: footer;
    margin-top:1550px;
    background: black;
    width:100%;
    height:100%;

}

.footer a{
    background: yellow;
    margin-top:20px;
    margin-left: 60px;
    float:left;
    text-decoration: none;
    color:white;
    font-family: 'Alata', sans-serif;
    font-size:25px;
}
.social_media_icons{
    background: mediumaquamarine;
    margin-top:20px;
    text-align:right;
    float:right;

}
.footer_navigation{
    background: purple;
    float:left;
    margin-left:-13%;
    margin-top: 120px;
    text-align:left;
    color:white;

}
.footer_copyright{
    background: salmon;
    margin-top: 115px;
    margin-right: -26.222%;
    float:right;
    padding-right: 50px;
    text-align: center;
    color:white;
}